@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ul,
a {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vw;
  max-width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  padding: 20px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}

.content {
  max-width: 100%;
  margin: 0px 20px 0px 0px;
  border: 2px solid purple;
}

.navbar {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  color: #55302a;
  display: inline-block;
}

.navbar-logo {
  align-self: flex-start;
  padding-left: 2em;
  cursor: pointer;
  width: 18%;
  -o-object-fit: contain;
     object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo img {
  max-width: 100%;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar-links li {
  color: #c1b2b2;
  padding: 1.25em;
}

.navbar-links > ul:first-child li {
  transition: all 0.3s ease;
}

.navbar-links > ul:first-child li:hover {
  color: #f0652e;
  border-bottom: solid 5px #55302a;
}

.navbar-links > ul:first-child {
  text-transform: uppercase;
  border-bottom: 1px solid #55302a;
}

.navbar-links > ul:last-of-type {
  align-self: flex-end;
  margin-bottom: 1em;
}

.navbar-links > ul:last-of-type li {
  transition: all 0.3s ease;
  color: #55302a;
}

.navbar-links > ul:last-of-type li:hover {
  color: #f0652e;
}

#login-border li:first-child {
  border-left: 3px solid #55302a;
  margin-top: 5px;
}

.navbar-images {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-images ul {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-images li {
  padding: 0.5em;
}

.hero {
  border: 1px solid grey;
  padding: 1em;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-list {
  border: 2px solid green;
}

/* Slideshow container */
.slideshow-container {
  border: 2px solid green;
  max-width: 20em;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */