@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap');

// Variables
//font variables
$font: 'Montserrat', sans-serif;

//color variables
$primary-color: #55302a; //brown
$secondary-color: #f0652e; //orange
$accent-color: #f6b22c; //yellow
$tertiary: #c1b2b2; //light brown
$blue: #abc8db; //light blue
$grey: #adadad; //light frey

//mixins
//list mixin
@mixin list-style {
    text-decoration: none;
    list-style-type: none;
}

//flex mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-justify {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//text mixin
@mixin text-primary {
    color: $primary-color;
    font-size: 1.5em;
}

@mixin text-secondary {
    color: $primary-color;
    font-size: 1em;
    font-weight: 700;
}

@mixin text-tertiary {
    color: $grey;
    font-size: 1em;
    font-weight: 300;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

ul,
a,
p {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

h2 {
    @include text-primary;
}

li {
    list-style-type: none;
}

p {
    @include text-secondary;
}

section {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font;
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-weight: 700;
}

//layout styles
.container {
    height: 100%;
    width: 100%;
    padding: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.content {
    max-width: 100%;
    border: 3px solid purple;
}

// Navigation styles start
.navbar {
    font-size: 1.15rem;
    @include flex-justify;
    width: 100%;
}

.navbar li {
    color: $primary-color;
    display: inline-block;
}

.navbar-logo {
    align-self: flex-start; 
    object-fit: contain;
    @include flex-center;
}

.navbar-logo img {
    max-width: 100%;
}

.navbar-links { 
    @include flex-center;
    flex-direction: column;
    
}

.navbar-links li {
    color: $tertiary;
    padding: 1.25em;
}

.navbar-links > ul:first-child li {
    transition: all 0.3s ease;
}

.navbar-links > ul:first-child li:hover {
    color: $secondary-color;
    border-bottom: solid 5px $primary-color;
}

.navbar-links > ul:first-child {
    text-transform: uppercase;
    border-bottom: 1px solid $primary-color;
}

.navbar-links > ul:last-of-type {
    align-self: flex-end;
    margin-bottom: 1em;
}

.navbar-links > ul:last-of-type li {
    transition: all 0.3s ease;
    color: $primary-color;
}

.navbar-links > ul:last-of-type li:hover {
    color: $secondary-color;
}

#login-border li:first-child {
    border-left: 3px solid $primary-color; 
    margin-top: 5px;
}

.navbar-images {
    max-width: 100%;
    @include flex-center;  
}

.navbar-images ul {
    // border: 3px solid yellow;
    max-width: 100%;
    @include flex-center;
}

.navbar-images li {
    padding: .5em;
}

// Hero styles 
.hero {
    border: 5px solid orange;
    border-top: 3px solid $primary-color;
    max-width: 100%;
    @include flex-center; //might be the issue to the carousel not resizing
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-columns: minmax(2fr, auto);
    grid-auto-rows: minmax(1fr, auto);
}

.hero-content {
    border: 2px solid red;
    width: 100%;
}

.hero-list {
    border: 2px solid green;
}

// Styles text(dates) within hero content
.hero-date {
    @include text-tertiary;
}
 
/* Slideshow container */
.slideshow-container {
    width: 100%;
    border: 2px solid green;
    position: relative;
    margin: auto;
}
  
//REMINDER CHECK THE WIDTH AND HEIGHT ON THIS for gods sake   
/* Hide the images by default */ 
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with some see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

// Main content 
.main-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid black;
}

//side content
.side-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  
  .side-content {
    flex-basis: calc(50% - 0.5em);
    position: relative;
    overflow: hidden;
  }
  
  .side-content img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .side-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.2em;
    line-height: 1.4;
    text-align: center;
  }

// scores table
.scores-table {
    display: grid;
    grid-template-columns: 2fr; 
    border: 2px solid blue;
}

.scores-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid yellow;
}

.scores-item {
    border: 3px solid brown;
}

.scores-standings,
.scores-list > div:nth-child(odd) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.scores-standings > img {
    max-width: 5em;
    max-height: 5em;
}

//Image gallery
.gallery-container {
    display: grid;
    border: 2px solid black;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
  }
  
  .gallery-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  
  .gallery-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .gallery-content h3 {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 1.2rem;
    text-align: center;
  }

//News Ad 
.news-image {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    padding: 1em;
  }

  .news-content {
    border: 2px solid yellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .image {
    flex: 1;
    border: 2px solid brown;
  }

  .news-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sub-title {
    margin-bottom: 10px;
  }

  .main-title {
    margin-bottom: 20px;
    text-align: left;
  }

  .paragraph {
    margin-bottom: 20px;
    text-align: center;
  }

  .link {
    text-align: center;
  }

//Ad space 
.main-ad-space {
    border: 2px solid orange;
    text-align: center;
    padding: 1em;
  }
  
.main-ad-content {
    padding: 3em;
    background-color: $grey;
}

//Aside column
.aside-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 3px solid black;
}

//Aside content
.aside-scores {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
  }
  
  .aside-scores > div {
    flex: 1;
    width: 100%;
  }
  
  .aside-title {
    background-color: lightblue;
    display: flex;
    align-items: center;
  }
  
  .aside-title h2 {
    margin: 0;
  }
  
  .aside-content-1, .aside-content-2 {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .aside-content-1 > div, .aside-content-2 > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .aside-content-1 img, .aside-content-2 img {
    height: 50px;
    
  }
  
  .aside-content-1 p, .aside-content-2 p {
    margin: 0;
  }
  
//Reports 
.reports-wrapper {
    text-align: center;
    
  }
  
  .reports-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr));
    text-align: center;
  }
  
  .reports-content {
    object-fit: contain;
  }
  
  .reports-content.advert {
    background-color: #ddd;
  }
  
  .reports-content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  



//footer 
footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    background-color: #eee;
    padding: 20px;
    text-align: center;
  }
  
  .footer-logo {
    grid-column: 1 / 2;
    @include flex-center;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
  }
  
  .footer-content {
    @include flex-center;
    flex-direction: column;
  }
  
  .footer-content h3 {
    margin-bottom: 10px;
  }
  
  .footer-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer-content ul li {
    margin-bottom: 5px;
  }

//Media 
@media (max-width: 768px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
      }
    footer {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
    } 
    .footer-content {
      grid-column: auto / span 1;
      grid-row: auto / span 1;
    }
  }
  
